// app global css in SCSS form
.product-details-back {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
    padding: 20px;
}
.product-image {
    width: 80%;
    height: 650px;
}